* { 
    margin: 0;
    padding: 0;
}

/* Headline 1-3 */
@font-face {
    font-family: Montserrat ExtraBold;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

/* Headline 4 */
@font-face {
    font-family: Montserrat Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/* Label */
@font-face {
    font-family: Montserrat Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

/* Body 1-2 */
@font-face {
    font-family: Montserrat Light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
	background: url(../img/about_bg.png) no-repeat right -8px top;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1504px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left_logo {
    font-family: Montserrat ExtraBold;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: #002622;
}

.header__left_logo_purple {
    color: #9967F1;
}   

.header__left_nav {
    margin-left: 127px;
    display: flex;
    align-items: center;
    gap: 65px;
}

.header__left_nav_item {
    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #056358;
    text-decoration: none;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 46px;
    background: #056358;
    border-radius: 8px;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.about {
    margin-top: 64px;
    width: 1504px;
    display: flex;
    justify-content: space-between;
}

.about__text {
	display: flex;
	flex-direction: column;
	margin: auto 0;
    width: 608px;
	gap: 32px;
}

.about__text_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	color: #002622;
}

.about__text_p {
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
} 

.about__text_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 46px;
    background: #056358;
    border-radius: 8px;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
} 

.about__img {
	height: 644px;
}

.cta {
	margin-top: 96px;
	width: 1504px;
}

.cta__h {
	text-align: center;
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	color: #002622;
} 

.cta__catalogue {
	margin-top: 48px;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.cta__catalogue_item {
	height: 598px;
}

.cta__catalogue_item_text {
	width: 432px;
	height: 238px;
	margin-top: -83px;
	margin-left: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 96px 32px 32px;
	gap: 24px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
}

.cta__catalogue_item_text_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	color: #002622;
}

.cta__catalogue_item_text_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 46px;
    background: #056358;
    border-radius: 8px;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
} 

.features {
	margin-top: 96px;
	width: 1504px;
}

.features__h {
	text-align: center;
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	color: #002622;
}

.features__items {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
} 

.features__item-left,
.features__item-center,
.features__item-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 32px 96px;
	gap: 33px;
	width: 480px;
	height: 397px;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
}

.features__item-left {
	border-radius: 128px 32px 32px 32px;	
}

.features__item-center {
	margin-top: 48px;
	border-radius: 32px 32px 64px 64px;	
}

.features__item-right {
	border-radius: 32px 128px 32px 32px;	
}


.features__item_text {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
} 

.features__item_text_h {
	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

.features__item_text_p {
	width: 288px;
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.counters {
	margin-top: 96px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 48px 147px;
	width: 1504px;
	height: 218px;
	left: 208px;
	top: 2965px;
	background: linear-gradient(360deg, rgba(18, 202, 197, 0.5) 0%, rgba(18, 202, 197, 0.25) 100%);
	border-radius: 32px 128px 32px 32px;
}

.counters__item {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 188px;
}

.counters__item_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #056358;
}

.counters__item_p {
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.photo {
	margin-top: 96px;
	width: 100%;
	height: 672px;
	box-sizing: border-box;
	padding-top: 64px;
	background: rgba(231, 224, 209, 0.25) content-box;
}

.photo__content {
	width: 1504px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.photo__content_img {
	margin-top: -64px
}

.photo__content_form {
	margin-right: 128px;
	margin-top: 32px;
}

.photo__content_form_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 40px;
	line-height: 54px;
	color: #002622;
} 

.photo__content_form_fields {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.photo__content_form_fields_input{
	height: 58px;
	width: 608px;
	border: none;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 16px;
	background-color: #FFFFFF;

	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.photo__content_form_fields_file {
	height: 58px;
	width: 608px;
	border: none;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 16px;
	background-color: #FFFFFF;

	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: rgb(118, 118, 118);

	cursor: pointer;
}

.photo__content_form_fields_file_input {
	display: none;
}

.photo__content_form_fields_file_span {
	display: flex;
	align-items: center;
	gap: 8px;
}

.photo__content_form_fields_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 46px;
    background: #056358;
	border: none;
    border-radius: 8px;
	outline: none;
	cursor: pointer;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.process {
	margin-top: 96px;
	width: 1504px;
}

.process__h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #002622;
}

.process__stages {
	margin-top: 98px;
	display: flex;
	justify-content: space-between;
}

.process__stages_item {
	width: 352px;
	height: 237px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 32px;
}

.process__stages_item_num {
	margin-top: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #FFFFFF;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Montserrat Extrabold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
}

.process__stages_item_text {
	margin-top: 24px;
}

.process__stages_item_text_h {
	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

.process__stages_item_text_p {
	font-family: Montserrat Light;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;

	margin-top: 25px;
	width: 256px;
}


.reviews {
	margin-top: 96px;
	width: 1504px;
}

.reviews__h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #002622;
}

.reviews__items {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
	height: 506px;
}

.reviews__item {
	box-sizing: border-box;
	width: 480px;
	height: 442px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px 32px;
	gap: 16px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	border-radius: 128px 32px 32px 32px;
}

.reviews__item_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.reviews__item_content_text {
	width: 416px;
	height: 77px;
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.reviews__item_content_stars {
	display: flex;
	gap: 8px;
}

.reviews__item_content_name {
	font-family: Montserrat Medium;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

.reviews__item_pfp {
	margin-top: 16px;
}

.choose {
	margin-top: 96px;
	width: 100%;
	height: 644px;
	box-sizing: border-box;
	padding: 17px 0;
	background: rgba(231, 224, 209, 0.25) content-box;
}

.choose__content {
	display: flex;
	justify-content: space-between;
	width: 1504px;
	margin: 0 auto;
}

.choose__content_form {
	margin-top: 77px;
}

.choose__content_form_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 40px;
	line-height: 54px;
	color: #002622;
}

.choose__content_form_fields {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.choose__content_form_fields_input {
	height: 58px;
	width: 608px;
	border: none;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 16px;
	background-color: #FFFFFF;

	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.choose__content_form_fields_select {
	height: 58px;
	width: 608px;
	border: none;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 16px;
	background-color: #FFFFFF;

	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: rgb(118, 118, 118);

	appearance: none;
	background-origin: content-box;
	background-image: url(../img/select_arrow.svg);
	background-position: right;
	background-repeat: no-repeat;
}

.choose__content_form_fields_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 46px;
    background: #056358;
	border: none;
    border-radius: 8px;
	outline: none;
	cursor: pointer;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.choose__content_img {
	margin-top: -17px;
}

.blog {
	margin-top: 96px;
	width: 1504px;
}

.blog__h {
	text-align: center;
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	color: #002622;
}

.blog__posts {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
}

.blog__posts_item {
	height: 671px;
}

.blog__posts_item_text {
	width: 432px;
	height: 318px;
	margin-top: -83px;
	margin-left: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 96px 32px 32px;
	gap: 24px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
}

.blog__posts_item_text_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	color: #002622;
}

.blog__posts_item_text_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 46px;
    background: #056358;
    border-radius: 8px;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact {
	margin-top: 96px;
	width: 100%;
	height: 718px;
	box-sizing: border-box;
	padding-top: 64px;
	background: rgba(231, 224, 209, 0.25) content-box;
}

.contact__content {
	width: 1504px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.contact__content_main {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.contact__content_main_text {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contact__content_main_text_item {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contact__content_main_text_item_h {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 40px;
	line-height: 54px;
	color: #002622;
}

.contact__content_main_text_item_p {
	font-family: Montserrat Light;
	width: 384px;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.contact__content_main_media {
	display: flex;
	gap: 24px;
}

.contact__content_main_media_item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__content_map {
	width: 608px;
	height: 622px;
	background: #D9D9D9;
	border-radius: 32px 128px 32px 32px;
	border: 0;
	margin-top: -64px;
}

.order {
	margin-top: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 64px 128px 48px 128px;
	gap: 24px;
	width: 1504px;
	height: 317px;
	background: linear-gradient(274.26deg, #12CAC5 6.93%, rgba(18, 202, 197, 0.5) 93.07%);
	border-radius: 32px 32px 32px 128px;
}

.order__h {
	text-align: center;
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 40px;
	line-height: 54px;
	color: #002622;
}

.order__p {
	width: 480px;
	height: 52px;
	font-family: Montserrat Light; 
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.order__btn {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 46px;
    background: #056358;
    border-radius: 8px;

    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer {
	margin-top: 96px;
	width: 100%;
}

.footer__main {
	height: 324px;
	background: rgba(231, 224, 209, 0.5);
	display: flex;
}

.footer__main_content {
	width: 1504px;
	margin: 64px auto 0 auto;
	display: flex;
	gap: 32px
}

.footer__main_content_col {
	width: 352px;
}

.footer__main_content_col_logo {
	font-family: Montserrat ExtraBold;
	font-weight: 800;
	font-size: 40px;
	line-height: 54px;
	color: #002622;
}

.footer__main_content_col_text {
	width: 256px;
	margin-top: 32px;
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
} 

.footer__main_content_col_h {
	margin-top: 22px;
	font-family: Montserrat Bold;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #002622;
}

.footer__main_content_col_nav {
	margin-top: 38px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__main_content_col_nav_item {
	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	text-decoration: none;
}

.footer__main_content_col_media {
	margin-top: 38px;
	display: flex;
	gap: 24px;
}

.footer__main_content_col_media_item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__bottom {
	height: 74px;
	background: rgba(231, 224, 209, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Montserrat Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}
